@import 'variables';

@media (min-width: $phone-width) {
  .content {
    &>h1, &>h2, &>h3, &>h4, &>h5, &>h6, &>p, &>table, &>ul, &>ol, &>aside, &>dl {
      margin-right: $examples-width;
    }
    pre, blockquote {
      width:$examples-width;
      float:right;
      clear:right;
      margin-right:0;
    }
  }

  .content {
    max-width: 100%;
  }

  .content aside {
    margin-right: $examples-width + 4%;
  }

  .page-wrapper {
    .dark-box {
      display:block;
      background-color: #f3f5f6;
    }
  }
}

.tocify-wrapper {
  background-image: linear-gradient(#3d3551,#433b56 50%,#504662);

  .tocify-focus {
    background-color: transparent;
  }
}