@import 'variables';

@font-face {
    font-family: 'proxima-nova';
    src: url('https://cdn.smooch.io/app/fonts/2F0A2B_2A_0.eot');
    src: url('https://cdn.smooch.io/app/fonts/2F0A2B_2A_0.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.smooch.io/app/fonts/2F0A2B_2A_0.woff2') format('woff2'),
         url('https://cdn.smooch.io/app/fonts/2F0A2B_2A_0.woff') format('woff'),
         url('https://cdn.smooch.io/app/fonts/2F0A2B_2A_0.ttf') format('truetype');
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
html,
body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

html,
body {
  color: #464646;
  background-color: #f9f9f9;
}

.page-wrapper {
  background-color: transparent;
}

.tocify-wrapper {
  background-color: #912d8d;
  box-shadow: inset -30px 0 39px -18px rgba(0, 0, 0, 0.15);
  padding: 24px 0;
  width: 300px;
}

.tocify-wrapper>img {
  margin-left: 10px;
  margin-bottom: 15px;
}

.tocify-wrapper>.search {
  margin-bottom: 12px;
  margin-left: 36px;
  margin-right: 36px;
}

.tocify-wrapper>.search input {
  background: transparent;
  border-color: transparent;
  border-radius: 60px;
  font-size: 14px;
  margin: 10px 0px 6px 0px;
  padding: 12px 0 10px 20px;
}

.tocify-wrapper>.search input::-webkit-input-placeholder {
  color: #F183CE;
}

.tocify-wrapper>.search:before {
  color: #C158AE;
  left: 0px;
  top: 23px;
}

.tocify-wrapper .search-results {
  background: none;
  box-shadow: inset 0 -1px 0px #9F3A97;
  border: none;
}

.tocify-wrapper .search-results.visible {
  margin-top: -14px;
}

.tocify-wrapper .search-results li {
  margin-left: 50px;
  margin-right: 36px;
  font-size: 13px;
  font-weight: normal;
}

.tocify-wrapper .search-results li a {
  color: #e1c8e0;
}

.tocify-wrapper li {
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 32px;
  margin-left: 36px;
  margin-right: 36px;
}

.tocify-wrapper .tocify-focus {
  color: #f183ce;
  box-shadow: none;
}

.tocify-wrapper .tocify-subheader {
  background: none;
}

.tocify-wrapper .tocify-subheader li {
  line-height: 32px;
}

.tocify-wrapper .toc-footer {
  border-top: none;
}

.tocify-wrapper .toc-footer li,
.tocify-wrapper .toc-footer a {
  color: #e1c8e0;
}

.tocify-wrapper .tocify-subheader .tocify-item > a {
  font-size: 13px;
  font-weight: 500;
}

.tocify-wrapper .tocify-item > a {
  padding: 0;
}

.tocify-wrapper .toc-footer li {
  color: #e1c8e0;
  font-size: 13px;
  font-weight: normal;
  padding-left: 0px;
}

.page-wrapper {
  margin-left: 300px;
}

.rest {
    .lang-selector {
      background-color: #242632;
      font-size: 14px;
      margin-bottom: 24px;
      font-weight: normal;
      text-transform: capitalize;
      border-bottom-color: #912d8d;

      a {
          &.active {
              background-color: #912d8d;
          }
      }
    }
}

.ios, .android, .web {
    .lang-selector {
      background-color: #C158AD;
      font-size: 14px;
      margin-bottom: 24px;
      position: absolute;
      z-index: 9;
      left: 0px;
      font-weight: normal;
      text-transform: capitalize;
      top: 42px;
    }

    .lang-selector a {
      padding: 0 20px;
      float: none;
    }

    .lang-selector a:not(:last-child) {
      border-bottom: 1px solid #CF65B7;
    }

    .lang-selector a.active {
      background: none;
    }

    .lang-selector a:active {
      background: none !important;
    }

    .lang-selector a:focus {
      outline: 0;
    }
}

.content {
  max-width: 1200px;
  padding-top: 30px;
}

.content>h1,
.content>h2,
.content>h3,
.content>h4,
.content>h5,
.content>h6,
.content>p,
.content>table,
.content>ul,
.content>ol,
.content>aside,
.content>dl {
  padding: 0 42px;
}

.content h1 {
  border: none;
  color: #464646;
  font-size: 36px;
  font-weight: normal;
  background: none;
  text-shadow: none;
}

.content h2 {
  font-size: 26px;
  border-top: none;
  margin-top: 0;
  font-weight: 600;
  text-shadow: none;
  padding-top: 1em;
  padding-bottom: 1em;
  background: none;
  clear: both;
}

.content h3 {
  clear: both;
}

.content h3,
.content h4,
.content h5,
.content h6 {
  font-size: 19px;
  font-weight: 600;
  margin-top: 1.8em;
  margin-bottom: 1em;
  text-transform: none;
}

.content p,
.content li,
.content dt,
.content dd {
  margin-bottom: 1.4em;
}

.content > ul,
.content > ol {
  padding-left: 62px;
}

.content aside {
  background: #efd7ee;
  margin-left: 42px;
  padding: 0.8em 20px;
  text-shadow: none;
  border: 1px solid #912d8d;
  border-radius: 3px;
  border: none;
}

.content aside a {
  color: #912d8d;
}

.content aside.notice:before {
  color: #912d8d;
  font-size: 16px;
}

.content aside.warning {
  background-color: #fcdfe3;
  text-shadow: none;
  border-color: #e53e51;
  border: none;
}

.content aside.warning:before {
  color: #e53e51;
  font-size: 16px;
}

.content api {
  display: block;
  background: #eaeaea;
  padding: 0.8em 20px;
  text-shadow: none;
  border: 1px solid #912d8d;
  border-radius: 3px;
  border: none;
}

.content api code {
  background: transparent;
}

.content beta {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  background: $nav-active-bg;
  padding: 3px 6px 3px 6px;
  text-shadow: none;
  border-radius: 3px;
  border: none;
  color: white;
}

beta:after {
  content: "beta"
}

.content pre {
  background-color: #362d38;
  border-radius: 3px;
  margin-left: 42px;
  padding: 0.8em 18px;
  background-color: #242632;
  border-left: 6px solid #912d8d;
  color: #dee3ec;
}

.content blockquote {
  background: transparent;
  margin-left: 42px;
  padding: 10px 18px;
}

.content code,
.content pre {
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 1.4em;
}

h3 > code {
  font-size: 16px !important;
}

h2 > code {
  font-size: 22px !important;
}

.content code {
  background-color: rgba(0,0,0,0.05);
  border-radius: 3px;
  text-shadow: none;
}

.content tbody td:first-child {
  text-align: right
}

p.add-to-smooch-button img {
  margin-left: 0;
  margin-right: 0;
}

.highlight,
.highlight .w {
  color: #dee3ec;
  background-color: transparent;
}

.highlight .kt {
  color: #f26dc8;
}

.highlight .kd {
  color: #1cbbb4;
}

.highlight .kc {
  color: #f26dc8;
}

.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .s1 {
  color: #1cbbb4;
}

.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mb,
.highlight .mx {
  color: #f26dc8;
}

.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv {
  color: #bcd42a;
}

.content .search-highlight {
  border: 1px solid #ffdf7e;
  text-shadow: none;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 100% 100%, 0% 0%, color-stop(0%, #ffdf7e), color-stop(100%, #ffdf7e));
  background: -moz-linear-gradient(bottom right, #ffdf7e 0%, #ffdf7e 100%);
  background: -webkit-linear-gradient(bottom right, #ffdf7e 0%, #ffdf7e 100%);
  background: linear-gradient(to top left, #ffdf7e 0%, #ffdf7e 100%);
  color: #464646;
}

#nav-button {
  opacity: 0.82;
}

#nav-button span {
  background-color: #912d8d;
  color: white;
  padding: 6px 10px 6px;
}

#nav-button.open {
  left: 285px;
}

#nav-button:focus {
  outline: 0;
}

@media (max-width:$tablet-width) {
  .tocify-wrapper {
    left: -300px;

    &.open {
      left: 0;
    }

  }

  .page-wrapper {
    margin-left: 0;
  }

}

// straight from bootstrap button group

.btn-group {
  position: relative;
  vertical-align: middle;
  margin-left: 36px;
  margin-right: 32px;
}

.btn-group>.btn:first-child:not(.language-dropdown) {
  border-right: none;
}

.btn-group>.btn:first-child:not(:last-child):not(.language-dropdown) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group>.btn:last-child:not(:first-child),
.btn-group>.dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group>.btn {
  position: relative;
  float: left;
  width:33%
}

.btn-default {
  color: white;
  background-color: transparent;
}

.btn-selected {
  background-color: #C158AD;
}

.btn {
  display: inline-block;
  padding: 9px 11px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 2px solid #C158AD;
  border-radius: 4px;
}

.btn:focus {
  outline: 0;
}

.nav-label {
  color: #F183CE;
  margin-left: 36px;
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: normal;
  margin-top: 32px;
}

.dropdown-wrapper {
  position: relative;
  width: 131px;
}

.btn-group > .language-dropdown {
  width: 131px;
  text-transform: capitalize;
  width: 100%;
  text-align: left;
  z-index: 2;
}

.btn-group > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
  border-right: 0;
}

.separator {
  border-top: 1px solid #9F3A97;
}

.platform-nav {
  margin-bottom: 36px;
}

.separator-top {
  margin-top: 10px;
}

.clear {
  clear: both;
}

.arrow-down {
  $arrow-size: 4px;
  width: 0;
  height: 0;
  border-left: $arrow-size solid transparent;
  border-right: $arrow-size solid transparent;
  border-top: $arrow-size solid white;
  top: 18px;
  position: absolute;
  right: 15px;
}

.badge img {
  display: inline-block
}

.half-width-img img {
  max-width: 49%;
}

.third-width-img img {
  max-width: 33%;
}

span.req {
  color: #912d8d;
}
span.mut {
  color: #f77e33;
}
span.opt {
  color: #808080;
}

.sidebar-nav-heading {
  color: #c2b9d5;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: default;
}

.content .section-header {
    color: #a3a3a3;
    font-weight: lighter;
    margin-bottom: -1em;
}

.content .snippet {
    padding: 0 42px;
    margin-right: 50%;

    pre {
        display: block;
        background: #eaeaea;
        padding: 0.8em 20px;
        text-shadow: none;
        border: 1px solid #912d8d;
        border-radius: 3px;
        border: none;
        float: none;
        color: #464646;
        margin: 0;
        width: 100%;
    }
}

@media (max-width: $phone-width) {
    .content .snippet {
        margin: 0;
    }
}
