.content {
    img {
        max-width: 100%;
        display: block;
        margin: auto;
        margin-top: 10px;
    }
}

.markdown {
    table {
        .table();
    }

    aside {
        .alert();
    }
}
