.sidebar {
    a {
        color: @text-color;
        &:hover {
            cursor: 'pointer';
        }
    }

    .sidebar-page-title {
        font-weight: 600;
    }

    .sidebar-section-title {
        font-weight: 300;
    }
}
